.sponsor-logo {
    max-height: 6rem;
    padding: 1rem;
}

.sponsor-logo-text {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

#main a:link, #main a:visited {
    color: #e00;
}

#main a:hover, #main a:active {
    color: #b00;
}
