#main .grid-container {
    padding-top: 1em;
}

#main .media-object-section span {
    padding-left: 0.75em;
    font-size: 0.7em;
    color: #444;
}

#main .media-object-section {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
