<style>
  #logo {
    height: 56px;
    width: 56px;
  }

  @media only screen and (min-width: 601px) {
    #logo {
      height: 64px;
      width: 64px;
    }
  }
</style>

<nav class="black" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}">
      <img id="logo" src="{{ '/assets/img/fission.jpg' }}" alt="Stuy Fission">
    </a>
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

          <ul class="right hide-on-med-and-down">
            {% if page_paths %}
                {% for path in page_paths %}
                    {% assign my_page = site.pages | where: "path", path | first %}
                    {% if my_page.title and my_page.header %}
                    <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <li><a href="https://fission310.github.io/relic-recovery/">Documentation</a></li>
            <li><a href="https://theorangealliance.org/teams/310">Competition</a></li>
            <li><a class="dropdown-button" data-activates="about" style="padding-right: 10px;">About<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-button" data-activates="resources">Resources<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="{{ "/" | relative_url }}">Home</a></li>
            {% if page_paths %}
                {% for path in page_paths %}
                    {% assign my_page = site.pages | where: "path", path | first %}
                    {% if my_page.title %}
                    <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <li><a href="https://fission310.github.io/relic-recovery/">Documentation</a></li>
            <li><a href="https://theorangealliance.org/teams/310">Competition</a></li>
          </ul>

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<ul id="about" class="dropdown-content">
  <li><a class="red-text text-darken-2" href="{{ "/about/" | relative_url }}">About Us</a></li>
  <li><a class="red-text text-darken-2" href="{{ "/team/" | relative_url }}">Our Team</a></li>
  <li><a class="red-text text-darken-2" href="{{ "/robot/" | relative_url }}">Our Robot</a></li>
  <li><a class="red-text text-darken-2" href="{{ "/sponsors/" | relative_url }}">Sponsors</a></li>
</ul>

<ul id="resources" class="dropdown-content">
  <li><a class="red-text text-darken-2" href="https://docs.google.com/document/d/1D5CMDm6661BIPoEJLKT52yFLJYrlibx_09gz-c8Ies0/edit">Team Charter</a></li>
</ul>
