<style>
  #logo {
    height: 56px;
    width: 56px;
  }

  @media only screen and (min-width: 601px) {
    #logo {
      height: 64px;
      width: 64px;
    }
  }
</style>

<nav class="black" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}">
      <img id="logo" src="{{ '/assets/img/fission.jpg' }}" alt="Stuy Fission">
    </a>
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

          <ul class="right hide-on-med-and-down">
            {% if page_paths %}
                {% for path in page_paths %}
                    {% assign my_page = site.pages | where: "path", path | first %}
                    {% if my_page.title %}
                    <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <li><a href="https://fission310.github.io/relic-recovery/">Documentation</a></li>
            <li><a href="https://theorangealliance.org/teams/310">Competition</a></li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="{{ "/" | relative_url }}">Home</a></li>
            {% if page_paths %}
                {% for path in page_paths %}
                    {% assign my_page = site.pages | where: "path", path | first %}
                    {% if my_page.title %}
                    <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <li><a href="https://fission310.github.io/relic-recovery/">Documentation</a></li>
            <li><a href="https://theorangealliance.org/teams/310">Competition</a></li>
          </ul>        

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>