---
layout: default
---
<script src="{{ '/js/masonry.pkgd.min.js' | absolute_url }}"></script>
<script src="{{ '/js/imagesloaded.pkgd.min.js' | absolute_url }}"></script>

<style>
  .image-holder {
    position: relative;
  }

  .image-holder:after {
    content:'';
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: black;
    opacity: 0.3;
  }

  span {
    z-index: 15;
  }
</style>

<div class="container">
  <h3>Blog</h3>
  <div class="row grid">
    {% for post in site.posts %}
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image image-holder">
            <img src="{{ '/assets/img/posts/thumbnails/' | append: post.thumbnail | absolute_url }}">
            <span class="card-title" href="{{ post.url | relative_url }}"><strong>{{ post.title | escape }}</strong></span>
          </div>
          <div class="card-content">
            {% assign date_format = "%B %d, %Y" %}
            {{ post.date | date: date_format }}
            <hr>
            <p>{{ post.content | truncatewords: 20 }}</p>
          </div>
          <div class="card-action">
            <a class="red-text text-darken-3" href="{{ post.url | relative_url }}">Read more</a>
          </div>
        </div>
      </div>


    {% endfor %}
  </div>

<script>
  imagesLoaded( document.querySelector('.grid'), function( instance ) {
    var msnry = new Masonry( '.grid', {
      horizontalOrder: true
    });
  });

</script>

</div>
