---
layout: default
---

<div class="container">
  <h3>Blog</h3>
  <div class="row">
    {% for post in site.posts %}
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <img src="{{ '/assets/img/posts/' | append: post.thumbnail | absolute_url }}">
            <span class="card-title" href="{{ post.url | relative_url }}"><strong>{{ post.title | escape }}</strong></span>
          </div>
          <div class="card-content">
            {% assign date_format = site.minima.date_format | default: "%m/%d/%y" %}
            <div class="date-post red-text text-darken-3">{{ post.date | date: date_format }}</div>
            <br>
            <p>{{ post.content | truncatewords: 20 }}</p>
          </div>
          <div class="card-action">
            <a href="{{ post.url | relative_url }}">Read more</a>
          </div>
        </div>
      </div>


    {% endfor %}
  </div>

</div>
