---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center red-text">{{ site.title }}</h1>
      <div class="row center">
        <h5 class="header col s12 light">{{ content }}</h5>
      </div>
        
    </div>
  </div>

  <div class="parallax-container">
    <div class="parallax"><img src="https://imgur.com/X7lJEU9.jpg"></div>
  </div>
  <div class="section white">
    <div class="container last-post">
    <section>
        <h5>Latest Posts</h5>
        <ul class="collection">
        {% for i in (0..6) %}
        {% assign post = site.posts[i] %}
        {% if post %}
        <li class="collection-item avatar">
          {% assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link red-text text-darken-3" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
            {{ post.content | strip_html | truncatewords: 15 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons red-text">navigate_next</i></a>
        </li>
        {% endif %}
        {% endfor %}
        </ul>
    </section>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="https://imgur.com/POwPaJi.jpg"></div>
  </div>
